# Binaries for programs and plugins
*.exe

# Test binary, built with `go test -c`
*.test

# Dependency directories
vendor/

# Go workspace file
go.mod
go.sum

# env file
.env.dev

# Private and private keys
*.pem